*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}
hr{
  margin:0.5rem 0;
}

.material-icons{
color: rgb(96, 96,96)
}

/* header  */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.25rem;
  padding:0.6rem 1rem;
  /* background-color: aqua; */
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left i{
  padding: 0 0.5rem;
  cursor: pointer;
}

.header-left img{
  width: 120px;
  height: auto;
  cursor: pointer;
  padding: 0 0.5rem;
}
.header-center {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.header-center form {
  display:flex;
  margin: 0;
  padding:0;
  border-radius: 5px ;
}

.header-center form input{
padding: 10px 15px;
width: 32rem;
font-size: 1.1rem;
}
.header-center form .btn{
width:3rem;
}

.header-center>i{
  padding-left:1.5rem;
}


.header-right i{
  padding: 0 0.8rem;
  
}


/* main  */
.main{
  height: calc(100vh-4.25rem);
  display: flex;
  overflow: hidden;
}

.sidebar{
height: 100%;
width: 15rem;
background-color: white;
overflow-y: scroll;
}

.sidebar-categories{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.sidebar-category{
display:flex;
align-items: center;
padding: 0.8rem 1.2rem;
}

.sidebar-category span{
  margin-left: 1.2rem;
}
.sidebar-category.active{
  background-color: #acacac;
  cursor: pointer;
}

.sidebar-category:hover{
  background-color: #e5e5e5;
  cursor: pointer;
}

